<style>
/* Points CSS */
.points-container {
	position: sticky;
}
/*Rewards and Redeem Button CSS */
.label-container {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 20px;
	height: 100px;
	margin-bottom: 20px;
}

.label {
	width: auto;
	height: auto;
	padding: 20px 30px;
	border: none;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.reward {
	background-color: #f8a799;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	width: 100%;
	padding: 20px;
	border-radius: 20px;
	text-align: left;
	display: table;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	text-decoration: none;
	color: black;
}

.reward:hover {
	background-color: #fbd3cc;
}

/* Button CSS*/
.btn-rewards {
	background-color: #06B48B;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 40px;
	text-decoration: none;
}

.btn-rewards:hover {
	background-color: #E6E2D5;
}

.btn-redeem {
	background-color: #FF2400;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 40px;
	text-decoration: none;
}

.btn-redeem:hover {
	background-color: #E6E2D5;
}
</style>