<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
 
<head> 
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
 <title>Tap 'n' Track - Home</title> 
 
 <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
 <!-- <script src="/bootstrap/css/bootstrap.js"></script>--> 
</head> 
 
<body> 
 <div th:replace="fragments/style"></div> 
 <div class="container"> 
  <main> 
   <h1 style="text-align: center;">You are NOT authorised to view this page!</h1> 
  </main> 
 
 </div> 
 
</body> 
 
</html>