<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Points Rewarded</title>
	<link rel="icon" type="image/png" href="/images/nfc.png">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<style>
		/* Styles for the popup */
		.popup {
			display: none;
			position: fixed;
			background-color: #e0f7ea;
			border: 1px solid #4caf50;
			padding: 20px;
			border-radius: 5px;
			text-align: center;
			z-index: 1000;
		}

		.popup.active {
			display: block;
		}
	</style>
</head>

<body>
	<div th:replace="fragments/style"></div>
	<div class="container">
		<h1>Add Points Rewarded</h1>
		<form th:action="@{/pointsRewarded/save}" th:object="${pointsRewarded}" method="post">
			<!-- Display member details -->
			<p>Member: <span th:text="${pointsRewarded.member.username}"></span></p>

			<!-- Activity selection -->
			<label>Activity:</label>
			<select th:field="*{activityForm}">
				<option value="" disabled selected>Select activity</option>
				<option th:each="activity : ${activitiesList}" th:value="${activity.activity}"
					th:text="${activity.activity}">
				</option>
			</select>

			<!-- Booth selection -->
			<label>Booth:</label>
			<select th:field="*{boothForm}">
				<option value="" disabled selected>Select booth</option>
				<option th:each="booth : ${boothsList}" th:value="${booth}" th:text="${booth}">
				</option>
			</select>

			<!-- Points input -->
			<label>Points:</label>
			<input type="number" th:field="*{pointsRewardedForm}" required />

			<!-- Submit button -->
			<button type="submit">Reward Points</button>
		</form>


		<div class="popup" id="popup">
			<p>Activity added successfully!</p>
			<p>Redirecting to the history page...</p>
		</div>
	</div>

	<!-- Form Validation -->
	<script>
		(function () {
			'use strict';

			// Fetch all the forms we want to apply custom validation to
			var forms = document.querySelectorAll('.needs-validation');

			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault();
							event.stopPropagation();
						}

						form.classList.add('was-validated');
					}, false);
				});
		})();
	</script>

	<!-- Popup Handling -->
	<script>
		const form = document.getElementById('addPointsForm');
		const popup = document.getElementById('popup');

		form.addEventListener('submit', function (event) {
			// Prevent the default form submission
			event.preventDefault();

			// Show the popup
			popup.classList.add('active');

			// Wait for 2 seconds, then submit the form and redirect
			setTimeout(() => {
				form.submit();
			}, 2000);
		});
	</script>
</body>

</html>