<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request OTP</title>
        <link rel="icon" type="image/png" href="/images/nfc.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/style}"></div>

    <div class="container">
        <div class="form-container" style="max-width: 400px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
            <h2 class="text-center">Request OTP</h2>

            <form th:action="@{/sendOtp}" method="post">
                <label for="email">Enter Your Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />

                <!-- Success Message -->
                <div th:if="${success}" class="alert alert-success mt-3">
                    [[${success}]]
                </div>

                <!-- Error Message -->
                <div th:if="${error}" class="alert alert-danger mt-3">
                    [[${error}]]
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Request OTP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>