<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Members</title>
	<link rel="icon" type="image/png" href="/images/nfc.png">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>
	<div th:replace="fragments/style"></div>
	<div th:replace="fragments/member_style"></div>
	<div class="container">
		<div class="tnt">
			<i> Members <img src="/images/member.png" class="tnt-icon"></i>
			<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="text-center">
				<a href="/members/add" class="btn-add">Add Member</a>
			</div>
			<input type="text" class="search" placeholder="Search Member by Username" id="filterInput">
			<div id="noMembersFound" style="display: none; text-align: center;">
				<p>No member found!</p>
			</div>
			<div id="overflow">
				<div id="membersList">
					<div th:each="member : ${listMembers}" class="member-item">
						<div class="other">
							<div class="details">
								<img th:src="${member.avatar}" alt="Avatar" class="pfp" />
								<div>
									<p>Username: <span th:text="${member.username}"></span></p>
									<p>Points: <span th:text="${member.points}"></span></p>
									<p>Role: <span th:text="${member.role}"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function updatePoints() {
			fetch("/api/member/points")
				.then(response => response.json())
				.then(points => {
					document.querySelectorAll(".details p span").forEach(el => {
						el.textContent = points;
					});
				})
				.catch(err => console.error("Error:", err));
		}

		updatePoints();
		setInterval(updatePoints, 30000);
	</script>
</body>

</html>